<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="color: Black;">
        Guruhlarim
    </h1>
    <p STYLE="color: black;">
        Guruh nomi<br><br>
        1.  Backend Python Django(Standard) N45<br><br><br>
    </p>
    <h2>
        <a href="http://127.0.0.1:8000/tulovlar/" style="color: Navy" >To'lovlarim</a> | <a href="http://127.0.0.1:8000/kursatkich/" style="color: Navy" >Ko'rsatkichlarim</a> |
        <a href="http://127.0.0.1:8000/reyting/" style="color: Navy" >Reyting</a> | <a href="http://127.0.0.1:8000/sozlamalar/" style="color: Navy" >Sozlamalar</a>
    </h2>
    <h3>
        <a href="http://127.0.0.1:8000/" style="color: red;">Back</a>
    </h3>
</body>
</html>