<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>najottalim.uz</title>
</head>
<body>
    <h1 style="color: black">Bosh Sahifa</h1><br>
    <p style="color: black;">
        Kumushlar : 2200<br>
        Bosqich : 2<br>
        XP: 470<br><br><br><br>
        Oxirgi dars:
            Modul 6. Introduction Web Development<br><br><br>
    </p>
    <h2 style="color: black">
        Menyu
    </h2>
    <h3>
        <a href="http://127.0.0.1:8000/tulovlar/" style="color: Lime;">To'lovlarim</a> <br>
        <a href="http://127.0.0.1:8000/guruh/" style="color: Lime;">Guruh</a><br>
        <a href="http://127.0.0.1:8000/kursatkich/" style="color: Lime;" >Ko'rsatkichlarim</a><br>
        <a href="http://127.0.0.1:8000/reyting/" style="color: Lime;" >Reyting</a><br>
        <a href="http://127.0.0.1:8000/sozlamalar/" style="color: Lime;" >Sozlamalar</a>
    </h3>

</body>
</html>