<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        Ko'rsatgichlar<br>
    </h1>
    <p style="color: black;">
        XP: 470<br>
        Kumush: 2200<br>
    </p>
    <h2>
        Yig'ilgan natijalar monitoringi
    </h2>
    <p>
        Darsda ishtiroki bo'yicha XP 85<br>
        Uyga vazifa bo'yicha XP 335 <br>
        Imtixondan o'tish bo'yicha XP 30 <br>
        Administratsiya tomonidan berilgan XP 20<br><br>
        Jami yig'ilgan XP : 470<br>
        Jami yig'ilgan kumushlar: 2200
    </p>
    <h2>
        <a href="http://127.0.0.1:8000/tulovlar/" style="color: Navy" >To'lovlarim</a> | <a href="http://127.0.0.1:8000/guruh/" style="color: Navy" >Guruh</a> |
        <a href="http://127.0.0.1:8000/reyting/" style="color: Navy" >Reyting</a> | <a href="http://127.0.0.1:8000/sozlamalar/" style="color: Navy" >Sozlamalar</a>
    </h2>
    <h3>
        <a href="http://127.0.0.1:8000/" style="color: red;">Back</a>
    </h3>
</body>
</html>