<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="color: black;">
        Reyting
    </h1>
    <p> Barchasi     |    Dasturlash<br> </p>
    <p style="color: Teal;">
        Qamrov          |           Filial          |           Bosqich         |    Vaqt oralig'i               |     Tozalash
    </p>

    <h2>
        <a href="http://127.0.0.1:8000/tulovlar/">To'lovlarim</a> | <a href="http://127.0.0.1:8000/guruh/">Guruh</a> |
        <a href="http://127.0.0.1:8000/kursatkich/">Ko'rsatkichlarim</a> | <a href="http://127.0.0.1:8000/sozlamalar/">Sozlamalar</a>
    </h2>
    <h3>
        <a href="http://127.0.0.1:8000/" style="color: red;" >Back</a>
    </h3>
</body>
</html>
